/** START - Sprite base configuration **/
.sprite {
    background: url(../images/spritesheet.png) no-repeat;
    display: inline-block;
}

.sprite-resize {
    zoom: .75;
    -moz-transform: scale(.75);
}

.sprite-resize-small {
    zoom: .6;
    -moz-transform: scale(.6);
}

.sprite-position {
    vertical-align: middle;
    padding: 2px;
}
/** END - Sprite base configuration **/

/** PASTE NEW CSS HERE **/
.sprite-BlackBoxEvent {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-CandidateSet {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-ChemicalDrug {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-Complex {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.sprite-ConceptualEvent {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}

.sprite-DefinedSet {
    width: 16px;
    height: 16px;
    background-position: -135px -5px;
}

.sprite-Depolymerization {
    width: 16px;
    height: 16px;
    background-position: -161px -5px;
}

.sprite-EntitySet {
    width: 16px;
    height: 16px;
    background-position: -187px -5px;
}

.sprite-EntityWithAccessionedSequence {
    width: 16px;
    height: 16px;
    background-position: -213px -5px;
}

.sprite-EquivalentEventSet {
    width: 16px;
    height: 16px;
    background-position: -239px -5px;
}

.sprite-FailedReaction {
    width: 16px;
    height: 16px;
    background-position: -265px -5px;
}

.sprite-GenomeEncodedEntity {
    width: 16px;
    height: 16px;
    background-position: -291px -5px;
}

.sprite-Icon {
    width: 16px;
    height: 16px;
    background-position: -317px -5px;
}

.sprite-Interactor {
    width: 16px;
    height: 16px;
    background-position: -343px -5px;
}

.sprite-NegativeRegulation {
    width: 16px;
    height: 16px;
    background-position: -369px -5px;
}

.sprite-OpenSet {
    width: 16px;
    height: 16px;
    background-position: -395px -5px;
}

.sprite-OtherEntity {
    width: 16px;
    height: 16px;
    background-position: -421px -5px;
}

.sprite-Pathway {
    width: 16px;
    height: 16px;
    background-position: -447px -5px;
}

.sprite-Person {
    width: 16px;
    height: 16px;
    background-position: -473px -5px;
}

.sprite-Polymer {
    width: 16px;
    height: 16px;
    background-position: -499px -5px;
}

.sprite-Polymerisation {
    width: 16px;
    height: 16px;
    background-position: -525px -5px;
}

.sprite-PositiveRegulation {
    width: 16px;
    height: 16px;
    background-position: -551px -5px;
}

.sprite-ProteinDrug {
    width: 16px;
    height: 16px;
    background-position: -577px -5px;
}

.sprite-Reaction {
    width: 16px;
    height: 16px;
    background-position: -603px -5px;
}

.sprite-ReferenceDNASequence {
    width: 16px;
    height: 16px;
    background-position: -629px -5px;
}

.sprite-ReferenceGeneProduct {
    width: 16px;
    height: 16px;
    background-position: -655px -5px;
}

.sprite-ReferenceGroup {
    width: 16px;
    height: 16px;
    background-position: -681px -5px;
}

.sprite-ReferenceIsoform {
    width: 16px;
    height: 16px;
    background-position: -707px -5px;
}

.sprite-ReferenceMolecule {
    width: 16px;
    height: 16px;
    background-position: -733px -5px;
}

.sprite-ReferenceRNASequence {
    width: 16px;
    height: 16px;
    background-position: -759px -5px;
}

.sprite-Requirement {
    width: 16px;
    height: 16px;
    background-position: -785px -5px;
}

.sprite-SimpleEntity {
    width: 16px;
    height: 16px;
    background-position: -811px -5px;
}

.sprite-TopLevelPathway {
    width: 16px;
    height: 16px;
    background-position: -837px -5px;
}

.sprite-isDisease {
    width: 10px;
    height: 16px;
    background-position: -863px -5px;
}

.sprite-minus {
    width: 20px;
    height: 20px;
    background-position: -883px -5px;
}

.sprite-plus {
    width: 20px;
    height: 20px;
    background-position: -913px -5px;
}
